<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

  <!--  <h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <div class="footer-col-wrapper">

      <div class="footer-col">
        {{ site.description | markdownify}} 
      </div>
        <div class="footer-col">
        <img src=assets/img/em.png>
      </div>
    </div>
      <div class="footer-col">
        <a href="https://github.com/jakobschumacher/mitschrift_weiterbildungskurs">Erstellung auf Github</a>
      </div>
        <div class="footer-col">
      
      {% for moduloverview in site.static_files %}
        {% if moduloverview.path contains 'assets/pdf/modul' %}
          <a href="{{ moduloverview.path | relative_url }}" alt="">
            Modulüberblick: {{ moduloverview.basename }}
          </a><br>
        {% endif %}
      {% endfor %}

      
      </div>
    </div>

  </div>

</footer>
