---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.autor -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{% for ref in site.data.referenten %}
          {% if page.autor == ref.id %}

              {% if ref.email %}
                • <a href="mailto:{{ ref.email }}">{{ ref.name }}</a>
              {% endif %}

              {% unless ref.email %}
                • {{ ref.name }}
              {% endunless %}

              {% if ref.organisation %}
                • {{ ref.organisation }}
              {% endif %}


              {% if ref.url %}
                • <a href="{{ ref.url }}">Webseite</a>
              {% endif %}

              
          {% endif %}
        {% endfor %}</span></span>
      {%- endif -%}</p>
      
      <p class="post-meta">
              {% for pdf in site.static_files %}
                {% if page.vortrag contains pdf.name %}
                  <a href="{{ pdf.path | relative_url }}"> {{pdf.basename}} </a><br>
                {% endif %}  
              {% endfor %}
              </p>

  </header>
  


  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comments %}
  <hr><br>
  <h2>Kommentare zum Artikel</h2>
    {%- include utterances_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
